input[type=checkbox]:checked ~ #translation { display: none; }
#translation { display: block; }

.container {
    height: 400px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    background-color:grey;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
    text-align: center;
}

.text {
    font-size:30px;
}